/* Hero.css */

/* Basic styles for the hero section */
.mainHero {
  padding: 2rem 1rem;
}

.Herocontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: #ffffff;
  font-family: Barlow;}

.HeroContent h2 {
  color: #ffffff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.col-lg-6,
.col-md-6 {
  flex: 1;
  padding: 1rem;
}

.HeroContent {
  margin: auto;
}

.HeroContent h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.HeroContent p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.HeroContent ul {
  list-style: none;
  padding: 0;
}

.HeroContent ul li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Button Styles */
.herothmbtn {
  color: #ffffff;
  background-color: transparent;
  margin-top: 20px;
  width: 250px;
  display: inline-block;
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding: 9px 35px;
  border-radius: 9px;
  border: 1px solid grey;
  transition: all 0.3s ease;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.herothmbtn:hover {

  background: linear-gradient(0deg, #00C9FF 0%, rgba(9,101,126,1) 100%);
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: all;
  opacity: 1;
  transform-origin: bottom;
  transform-style: preserve-3d;
  transform: scaleY(1.05);
  z-index: -1;
  color: #ffffff;
  

}

/* Animated Image Styles */
.animatedImage {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col-lg-6,
  .col-md-6 {
    width: 100%;
  }

  .HeroContent {
    text-align: center;
    margin-bottom: 1rem;
  }

  .animatedImage {
    margin: 0 auto;
    display: block;
  }
}
